<!DOCTYPE html>
<html lang="pt-br"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Página de produtos
    </title>
</head>
<body>
    <h1>Lista de Produtos</h1>

    <hr>
    <table id="prodList">
        <thead>
            <tr>
                <th>Id</th>
                <th>Produto</th>
                <th>Descrição</th>
                <th>Preço unitário</th>
                <th>Categoria</th>
                <th>Ações</th>
            </tr>
        </thead>
        <!--DADOS DE EXEMPLO-->
        <tr th:each="merc : ${mercadorias}">
            <td th:text="${merc.id}">1</td>
            <td th:text="${merc.nome}"><span>Produto exemplo</span></td>
            <td th:text="${merc.descricao}"><span>Cadeira de Madeira super confortável</span> </td>
            <td th:text="'R$ ' + ${#numbers.formatDecimal(merc.precoUnitario, 1, 2)}">R$ 45,82</td>
            <td th:text="${merc.categoria.nome}">Categoria</td>

            <td>
                <button>Editar</button>
                <button>Excluir</button>
            </td>
        </tr>
    </table>
    
    <hr>

    <script>



    </script>

</body>
</html>